img.tile {
  position: absolute;
}

img.magician {
  position: absolute;
  z-index: 1;
}

body {
  background-image: url("gfx/bg_1024_768_sky.png");
}

div#world_creator {
  position: absolute;
  right: 50px;
  top: 10px;
}

div#world_creator img.tile {
  position: static;
}

.lose {
  font-size: 34pt;
  background-color: rgba(0, 0, 0, 0.2);
  width: 400px;
  color: red;
  z-index: 10;
  position: absolute;
  top: 40%;
  left: 30%;
  padding: 1em;
  -webkit-border-radius: 10px;
  box-shadow: 0 0 10px white, 0 0 5px black;
  text-shadow: white 0 0 5px;
}

.win {
  font-size: 34pt;
  background-color: #008800;
  width: 600px;
  color: black;
  z-index: 10;
  position: absolute;
  top: 20%;
  left: 10%;
  text-align: center;
  padding: 1em;
  -webkit-border-radius: 10px;
  box-shadow: 0 0 10px white, 0 0 5px black;
  text-shadow: white 0 0 5px;
}

#next {
  display: none;
}
